/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid black;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%;
}
body {
  line-height: 2;
}
/** SECTION**/
section {
  padding: 4% 0;
}
.blackText {
  color: black;
  font-size: 2rem;
}
h2,
h3 {
  color: black;
  font-size: 2.7rem;
  margin: 2rem;
  text-align: center;
  font-weight: bold;
}
p {
  font-size: 1.8rem;
  line-height: 2;
  text-transform: uppercase;
}
span {
  color: #bdcbd4;
}
/*Header Section*/
header {
  background-color: black;
  background-image: url('../images/desk-area.jpg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: last baseline;
}
header nav a {
  padding: 1% 3%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
header nav a:hover {
  color: black;
}
.titles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.titles div {
  text-align: center;
  color: white;
}
.titles div h1 {
  color: black;
  font-size: 5.5rem;
  margin: 10%;
}
/* About Section*/
#about {
  background-color: ;
  height: 80vh;
}
#about .text-container {
  display: flex;
  justify-content: center;
}
#about .text-container div {
  width: 60%;
}
