/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */

* {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-size: 62.5%  
}

body {
  margin: 0 auto;
}

/** SECTION**/

#about, #portfolio, #contact {
  height: 600px;
}

/** CONTAINER **/

.container {
  background-color: #bdcbd4;
  margin: 5%;
}

header {
  background-color: black;
  background-image: url('../images/desk-area.jpg.jpg');
  /* text-align: center; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

h1 {
  color: white;
  font-size: 4.0rem;
  text-align: center;
}

h2, h3 {
  color: black;
  font-size: 2.7rem;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.8rem;
  line-height: 2;
  text-transform: uppercase;
}

span {
  color: #bdcbd4;
}

.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

nav a {
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  font-size: large;
  font-weight: 400;
  margin: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background: black;
  color: white;
}

button {
  background: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
}

button a {
  color: white;
  margin: 0 auto;
  text-decoration: none;
}

button:hover {
  background: white;
}

a:hover {
  color: black;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.about-me {
  align-items: center;
  justify-content: space-between;
  margin: 5%;
  width: 50%;
}

ul, li {
  border: 2px solid darkgray;
  border-radius: 2px;
  font-size: 1.8rem;
  list-style: none;
  margin: 5%;
  text-align: center;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.my-portfolio {
  align-items: center;
  justify-content: center;
  width: 100%;
}